@tailwind base;
@tailwind components;
@tailwind utilities;
.text-gray-700:hover {
    @apply text-blue-500 underline;
  }
  @keyframes colorChange {
    0% { color: #00f; }      /* Blue */
    20% { color: #0f0; }     /* Green */
    40% { color: #f00; }     /* Red */
    60% { color: #ff0; }     /* Yellow */
    80% { color: #0ff; }     /* Cyan */
    100% { color: #f0f; }    /* Magenta */
  }
  
  .text-gradient-animation {
    background-clip: text;
    color: transparent;
    animation: colorChange 5s infinite linear;
  }
  